{% extends "base.html" %}

{% load bootstrap %}

{% block title %}{% if form.instance.pk %}Edit{% else %}Add{% endif %} Author and Books{% endblock title %}

{% block link %}{{ block.super }}
    <style type="text/css">
    .errorlist {
        list-style: none;
        color: #B94A48;
        margin: 0px 0px 9px 0px;
        padding: 0px;
    }
    </style>
{% endblock link %}

{% block bottom_script %}{{ block.super }}
    <script src="{{ STATIC_URL }}js/underscore/underscore.min.js" ></script>
    <script type="text/html" id="book-template">
    <div id="book-__prefix__">
        {{ formset.empty_form|bootstrap }}
    </div>
    </script>
    <script>
    $(function() {
        $('.add-book').click(function(ev){
            ev.preventDefault();
            var count = parseInt($('#id_book_set-TOTAL_FORMS').attr('value'), 10);
            var tmplMarkup = $('#book-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count)
            console.log(compiledTmpl);
            $('div.books').append(compiledTmpl);
            $('#id_book_set-TOTAL_FORMS').attr('value', count + 1);
        });
    });
    </script>
{% endblock bottom_script %}


{% block base_content %}

<div class="page-header">
  <h1>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Author and Books</h1>
</div>

<form action="." method="post">
    {{ formset.management_form }}
    {% csrf_token %}

    <legend>Author</legend>
    <div class="author">
    {{ form|bootstrap }}
    </div>

    <legend>
        <div class="pull-right"><a href="#" class="btn btn-inverse add-book"><i class="icon-plus icon-white"></i> Add Book</a></div>
        Books
    </legend>
    <div class="books form-inline">
        {% for form in formset %}
            {{ form|bootstrap }}
        {% endfor %}
    </div>
  <div class="form-actions">
     <button type="submit" class="btn btn-primary">Save</button>
   </div>
 </form>

{% endblock base_content %}
